@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: black;
    font-family: 'Press Start 2P', monospace;
    overflow: hidden;
}

/* Entire screen */
.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Battle area */
.battlefield {
    height: calc(100vh - 30vh);
    min-height: calc(100vh - 180px);

    background-image: url("./BattleBackground.png");
    background-size: contain;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: black;

    image-rendering: pixelated;

    display: flex;
    justify-content: space-between;
    padding: 5vh 5vw;
}

.battlefield::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        ellipse at center,
        transparent 60%,
        rgba(0,0,0,0.35)
    );
    pointer-events: none;
}

/* Enemies */
.enemies {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: white;
}

/* Party */
.party {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    align-items: flex-end;
    color: white;
}

.enemies,
.party {
    align-self: flex-end;
    margin-bottom: 8vh;
}

/* Bottom UI bar */
.ui {
    height: 30vh;
    min-height: 180px;
    background: rgb(255, 255, 255);
    display: flex;
    gap: 0.7vw;
    padding: 0.5vw;
}

/* UI panels */
.ui-box {
    flex: 1;
    background: linear-gradient(#1b3f8b, #152c66);
    border: 2px solid white;
    padding: 1.2rem;
    color: white;
}

/* Size balance like FF */
.ui-box.left {
    flex: 0.9;
}

.ui-box.right {
    flex: 1.1;
}

/* Stats */
.stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
}
